In [39]:
import pandas as pd
import matplotlib as mp
import random
import datetime
import json
import home

In [60]:
homeworlds = open('home_worlds.json')
homeworlds_data = json.load(homeworlds)

name_arr = []
for i in homeworlds_data:
    name_arr.append(i['name'])
len(name_arr)

42

In [27]:
unit_types =[
    "stormtrooper", 
    "tie_fighter", 
    "at-st", 
    "x-wing", 
    "resistance_soldier", 
    "at-at", 
    "tie_silencer", 
    "unknown"
]

empire_or_resistance = ['empire', 'resistance']
empire_or_resistance[random.randint(0, 1)]

'resistance'

In [63]:
data = pd.DataFrame()
for i in range(1,1001):
    timestamp = datetime.datetime.now()
    unit_id = i
    unit_type = unit_types[random.randint(0, 7)]
    alliance = empire_or_resistance[random.randint(0, 1)]
    location_x = random.randint(0, 10)
    location_y = random.randint(0, 10)
    destination_x = random.randint(0, 10)
    destination_y = random.randint(0, 10)
    homeworld = name_arr[random.randint(0, 41)]
    tempData = pd.DataFrame(
        [[
            timestamp, 
            unit_id,
            unit_type,
            alliance,
            location_x,
            location_y,
            destination_x,
            destination_y,
            homeworld
        ]],
        columns = [
            'timestamp', 
            'unit_id',
            'unit_type',
            'empire_or_resistance', 
            'location_x',
            'location_y',
            'destination_x',
            'destination_y',
            'homeworld'
        ]
    )
    data = pd.concat([tempData, data])
data

,timestamp,unit_id,unit_type,empire_or_resistance,location_x,location_y,destination_x,destination_y,homeworld
0,2023-07-11 13:42:55.235918,1000,tie_silencer,resistance,6,2,6,1,Eriadu
0,2023-07-11 13:42:55.235918,999,at-st,resistance,4,1,6,1,Umbara
0,2023-07-11 13:42:55.220290,998,stormtrooper,empire,3,1,2,3,Haruun Kal
0,2023-07-11 13:42:55.220290,997,resistance_soldier,empire,9,10,7,1,Glee Anselm
0,2023-07-11 13:42:55.220290,996,x-wing,resistance,1,7,7,6,Serenno
...,...,...,...,...,...,...,...,...,...
0,2023-07-11 13:42:52.267704,5,resistance_soldier,empire,5,4,9,7,Rodia
0,2023-07-11 13:42:52.264703,4,x-wing,empire,6,3,5,6,Umbara
0,2023-07-11 13:42:52.261703,3,tie_fighter,empire,10,3,1,8,Dagobah
0,2023-07-11 13:42:52.256703,2,tie_fighter,resistance,6,8,10,6,Quermia
0,2023-07-11 13:42:52.253702,1,at-at,resistance,10,10,4,7,Chandrila

In [66]:
data.to_csv('stdata.csv', index=False)